body {
  position: relative; //for scrollspy
  @media (min-width: @screen-md) {
  	font-size: 14px;
  	line-height: 24px;
  }
}
section {
	.container-fluid; 
	padding-bottom: @line-height-computed;
	@media (min-width: @screen-md) {
		padding-left: @menu-padding-md;
		padding-right: @menu-padding-md;
		margin-bottom: 25px;
	
		&:not(#about-us) {
			h2 {		
				font-size: 28px;
				margin-top: 0;
				font-weight: 700;
			}
		}
	}
	@media (min-width: @screen-lg) {
		padding-left: @menu-padding-lg;
		padding-right: @menu-padding-lg;
	}
}

#map-canvas {
	height: 160px;
	width: auto;
	background-color: @gray-lighter;
	.bleed-edge;
	@media (min-width: @screen-lg) {
		height: 250px
	}
}
.bleed-edge {
	margin-left: -10px;
	margin-right: -10px;
}

.parsley-errors-list {
	color: @state-danger-text;
	font-family: @font-family-sans-serif;
	font-size: 13px;
	.list-unstyled;
}

.logo {
	width: 167px;
	height: 30px;
	.text-hide;
	background-image: url(../img/launchlabs-logo.png);
	background-image: url(../img/launchlabs-logo.svg), none;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.btn {
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	&.btn-default {
		font-weight: normal;
		padding: 3px 12px;
		font-size: 12px;
		@media (min-width: @screen-md) {
			font-size: 13px;
			padding: 7px 17px ;
		}
	}
	&.btn-primary:hover, &.btn-default:hover {
		background: #fdd47b;
	}
	@media (min-width: @screen-md) {
		font-size: 15px;
		padding: 9px 20px ;
	}

}
.menu-open {
	overflow: hidden;
	.content {
		height: 100%;
		overflow: hidden;
	}
}

.content {
	@media (min-width: @screen-md) {
		width: 60%;
		margin-left: 40%;
		padding: 0 30px;
		overflow: auto;
	}
	@media (min-width: @screen-lg) {
		width: auto;
		margin-left: 500px;
		max-width: 960px;
	}
}

h1 {
	font-weight: 700;
	@media (min-width: @screen-md) {
		font-size: 34px;
		margin-bottom: 20px;
		font-weight: 600
	}
}
h2 {
	color: @brand-primary;
}
h3 {
	font-weight: 700;
	margin-bottom: 0;
	+ h4 {
		margin-top: 5px;
	}
}
h4 {
	font-weight: normal;
}
p {
	margin-bottom: 15px;
}
label {
	text-transform: uppercase;
	font-size: 12px;
	font-family: @font-family-sans-serif;
	font-weight: normal;
	cursor: pointer;
	margin-bottom: 0;
}
.checkbox {
	input {
		display: none;
		&:checked + label:before {
			background-position: top right;
		}
	}
	label {
		text-transform: none;
		font-size: 14px;
		padding-left: 0;
		&:before {
			width: 26px;
			height: 26px;
			content: " ";
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			background: url(../img/checkbox.png) no-repeat top left;
		}
	}
	@media (min-width: @screen-md) {
		margin-top: 30px;
		margin-bottom: 20px;
		label {
			font-size: 16px;
		}
	}
}
.form-control {
	box-shadow: none;
	padding-top: 7px;
	padding-bottom: 7px;
	height: auto;
	font-family: @font-family-sans-serif;
	-webkit-appearance: none;
	@media (min-width: @screen-md) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}
.text-muted i {
	font-family: @font-family-sans-serif;
	font-size: 16px;
}

.table {
	font-size: 14px;
	margin: 10px 0;
	font-family: @font-family-sans-serif;
	th {
		font-weight: bold;
		color: @gray-darker;
		width: 70px
	}
	td {
		font-style: italic;
	}
	th, td {
		border-bottom: 4px solid @white;
	}
	@media (min-width: @screen-md) {
		margin: 30px 0;
		font-size: 16px;
		th, td {
			border-bottom-width: 6px
		}
	}
}
ul, ol {
	padding-left: 20px;
}
#about-us {
	padding: 0;
	.inner {
		padding-top: 1px;
		width: 100%;
		background: url(../img/bg-about.jpg) no-repeat left top;
		background-size: auto 110%;
		.container-fluid;
		@media (min-width: @screen-xs) {
			background-position: center;
			background-size: 110% auto;
		}
		@media (min-width: @screen-md) {
			margin-top: 30px;
			padding-top: 25px;
			padding-bottom: 65px;
			background-size: cover;
			background-position: bottom;
			padding-left: 70px;
			padding-right: 70px;
		}
		@media (min-width: @screen-lg) {
			padding-top: 6%;
			padding-bottom: 13%;
		}
	}
	h2 {
		color: @brand-primary;
		margin-bottom: 20px;
		font-size: 24px;
		span {
			color: @white;
		}
		@media (min-width: @screen-md) {
			font-size: 35px;
		}
		@media (min-width: @screen-lg) {
			font-size: 46px;
		}
	}
	.btn {
		font-size: 11px;
		@media (min-width: @screen-xs) {
			font-size: 12px
		}
		@media (min-width: @screen-md) {
			font-size: 15px
		}
	}
	.logo {
		@media (min-width: @screen-md) {
			display: none
		}
	}
}

#next-event {
	.details {
		.list-unstyled;
		font-family: @font-family-sans-serif;
		color: @gray-darker;
		margin-bottom: 20px;
		@media (min-width: @screen-md) {
			font-size: 16px;
			margin-bottom: 35px;
			margin-top: 30px;
		}
		span {
			color: @brand-primary;
			font-size: 1.4em;
			float: left;
			margin-right: 15px;
			@media (min-width: @screen-md) {
				font-size: 1.6em;
			}
		}
		.icon-time {
			margin-top: 8px;
			@media (min-width: @screen-md) {
				margin-top: 0;
			}
		}
		li {
			margin-top: 13px;
		}
	}
	.add-to-cal {
		.text-uppercase;
		font-weight: 600;
		@media (min-width: @screen-md) {
			margin-left: 20px;
			font-size: 13px;
		}
	}
}
#future-speakers {
	h3 {
		font-size: 18px;
		margin-top: 0;
		@media (min-width: @screen-md) {
			font-size: 24px;
		}
	}
	h4 {
		font-size: 15px;
	}
	.row {
		margin-bottom: 12px;
		@media (min-width: @screen-md) {
			margin-bottom: 30px;
		}
	}
	.photo {
		max-width: 165px;
	}
	.subscribe {
		padding-top: 10px;
		.extra-text {
			.hidden;
		}
		@media (min-width: @screen-md) {
			label {
				font-size: 14px;
				text-transform: none;
			}
		}
	}
}
.subscribe {
	.form-wrap {
		position: relative;
		min-height: 34px;
		input {
			position: absolute;
		}
		.btn {
			right: 4px;
			top: 5px;
		}
	}
	.parsley-errors-list {
		padding-top: 40px;
	}
	label {
		margin-bottom: 5px;
	}
}
#sponsors {
	.logos {
		.list-inline;
		margin: 20px 0 0 0;
		img {
			border: 1px solid @gray-lighter;
			width: 80px;
			@media (min-width: @screen-md) {
				width: 160px;
			}
		}
		@media (min-width: @screen-md) {
			li {
				margin: 0 20px 40px 0;
			}
		}
	}
}
