@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-sbeodd');
	src:url('../fonts/icomoon.eot?#iefix-sbeodd') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-sbeodd') format('truetype'),
		url('../fonts/icomoon.woff?-sbeodd') format('woff'),
		url('../fonts/icomoon.svg?-sbeodd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-place:before {
	content: "\e602";
}
.icon-time:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
