.navbar-toggle {
	float: right;
	background: transparent;
	border: 0;
	padding: 0;
	width: 15px;
	height: 15px;
	outline: none;
	.icon-bar {
		display: block;
		height: 2px;
		background: @white;
		margin: 3px 0;
		.transition(all .3s linear);
	}
	@media (min-width: @screen-md) {
		display: none
	}
}
nav {
	background-color: @gray-darker;
	padding-top: 1px;
	padding-bottom: 1px;
	max-height: 0;
	overflow: auto;
	position: fixed;
	width: 100%;
	@media (min-width: @screen-md) {
		max-height: inherit;
		height: 100%;
		width: 40%;
		z-index: 5;
		max-width: 500px;
		background: url(../img/bg-menu.jpg) no-repeat;
		background-size: cover;
	}
	.transition(max-height .3s ease-out);

	.logo {
		display: none;
		@media( min-width: @screen-md) {
			display: block;
			margin: @menu-padding-md;
			width: auto;
			padding-bottom: 19%;
		}
		@media (min-width: @screen-lg) {
			margin: @menu-padding-lg+10px @menu-padding-lg @menu-padding-lg - 17px;
		}
	}
	.menu-open & {
		max-height: 1000px;
		top: 25px;
		height: 100%;
		height: ~" -webkit-calc( 100% - 25px ) ";
		height: ~" calc( 100% - 25px ) ";
		z-index: 5;
	}
	.menu {
		.list-unstyled;
		.text-uppercase;
		margin-top: 10px;
		height: ~" calc( 100% - 110px)" ;
		overflow: auto;
		box-sizing: border-box;
		font-family: @font-family-sans-serif;
		@media (min-width: @screen-md) {
			height: ~" calc( 100% - 270px)" ;
		}
		@media (min-width: @screen-lg) {
			height: ~" calc( 100% - 335px)" ;
		}
		a { 
			color: @white;
			padding: 10px 0;
			display: block;
			font-size: 14px;
			&:after {
				content: "→";
				float: right;
				color: #616161;
				margin-right: 5px;
				.transition(margin .5s ease-out)
			}
			&:hover, &:active {
				color: @brand-primary;
				text-decoration: none;
			}
		}
		.active a {
			color: @brand-primary;
			text-decoration: none;
			&:after {
				color: @brand-primary;
				margin-right: 0;
			}
		}
	}
	.menu, footer {
		.container-fluid;
		@media (min-width: @screen-md) {
			padding-left: @menu-padding-md;
			padding-right: @menu-padding-md;
		}
		@media (min-width: @screen-lg) {
			padding-left: @menu-padding-lg;
			padding-right: @menu-padding-lg;
		}
	}

}

header {
	position: relative;
	z-index: 3;
	background: @gray-darker;
	color: @brand-primary;
	font-family: @font-family-sans-serif;
	padding: 7px 15px;
	@media (min-width: @screen-md) {
		background-color: transparent;
		border-left: 3px solid @brand-primary;
		padding-top: 0;
		line-height: 1em;
		+ h2, + div + h2 {		
			padding: 0 15px;
			border-left: 3px solid @brand-primary;
			.row;
		}
	}
	.text-uppercase;
	&:not(.scroll-to-fixed-fixed){
		.row;	
	}
	&.scroll-to-fixed-fixed {
		width: 100%;
	}
	&.open {
		z-index: 4 !important;
		nav {
			max-height: 1000px;
		}
		.icon-bar:nth-child(2) { display: none}
		.icon-bar:nth-child(1) { 
			.rotate(45deg);
			margin-top: 5px;
		}
		.icon-bar:nth-child(3) {
			.rotate(-45deg);
			margin-top: -5px
		}
	}
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: @gray-dark;
	position: absolute;
	bottom: 0;
	width: 100%;
	@media (min-width: @screen-md) {
		background-color: transparent;
	}
	label {
		color: @gray-light;
		font-size: 13px;
		text-transform: none;
	}
	.form-control {
		background: transparent;
		border-color: @gray;
		color: @white;
	}
	.btn {
		background: #484848;
	}
	.small {
		font-family: @font-family-sans-serif;
		color: @gray;
	}
	.social {
		.list-inline;
		padding-right: 0;
		margin: 0;
		a {
			color: #787878;
			font-size: 1.25em;
			&:hover {
				text-decoration: none;
			}
		}
	}
}